.header-container {
  display: flex;
  justify-content: space-between; /* Space between logo and buttons */
  align-items: center;
  padding: 1rem 2rem; /* Increased left padding for spacing */
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  width: 70px;
  margin-left: 6rem; /* Space from the left */
}

.nav-links {
  display: flex;
  gap: 1.5rem; /* Increased space between buttons */
  margin-right: 10rem; /* Space from the right side */
}

.nav-button {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: white;
  font-weight: 500;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgb(235, 18, 18);
  transition: transform 0.3s, background-color 0.3s;
}

.nav-button:hover {
  background-color: #e5e7eb9d;
  transform: scale(1.05);
}
@media screen and (max-width: 768px) {
  .about-container {
    padding: 2rem;
  }

  .about-header {
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .about-me-button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .about-intro h1 {
    font-size: 2rem;
  }

  .about-intro p {
    font-size: 1rem;
    text-align: center;
  }

  .about-details {
    grid-template-columns: 1fr; /* Stack sections vertically */
    gap: 1.5rem;
  }

  .detail-section h3 {
    font-size: 1.2rem;
  }

  .detail-section p {
    font-size: 1rem;
  }

  .social-icons {
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .social-icons a {
    font-size: 1.5rem; /* Resize icons for mobile */
  }
}
